
<div class="row fontFamily">
  <div class="colmd-12 marginTop">
    <div class="col-md-12">
        <h3 class="" style= 'float:left;margin: 0;'><b>Best Project Award || Dominion Enterprises</b></h3>
        <h4 class="tealColor" style= 'float:right;margin: 0;'><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb 2018 </h4>
    </div>
    <br >
    <div class="col-md-12 ">
        <ul class="honors listFont justifyTag">
            <li>Each year Dominion Enterprises (DE) conducts Hackathon(Hack U6) to engage student programmers, developers & designers in learning new skills and business applications.</li>
            <li>We as a team of five have developed a google assistant for their business application from the scratch in 2 days andawarded with 3rd prize out of 11 entries into the competition.</li>
        </ul>
    </div>

  </div>
  
</div>
