
<div class="row" style ='height:100%'>
  <div class="col-md-12" id = 'CoverPage'>
    <a id = 'fullName'> 
      Chandrasekhar Reddy Muthyala
    </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12" id = 'homeDiv'>
      <ul class="nav nav-tabs listFont1">
        <li role="presentation" routerLinkActive= 'active'><a routerLink = 'home' >Home</a></li>
        <li role="presentation" routerLinkActive= 'active'><a routerLink = 'honor-awards' >Honor & Awards</a></li>
        <li role="presentation" routerLinkActive= 'active'><a routerLink = 'work-experience' >Work Experience</a></li>
        <!-- <li role="presentation" routerLinkActive= 'active'><a routerLink = 'education' >Education</a></li> -->
        <li role="presentation" routerLinkActive= 'active'><a routerLink = 'publication-certifications' >Publications & Certifications</a></li>
        <li role="presentation" routerLinkActive= 'active'><a routerLink = 'resume' >Resume</a></li>
      </ul>
    </div>
  </div>

</div>
<div class="container">
  <div class="col-md-12">
      <div [@myAnimation]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
        </div>
  </div>
</div>
