
<div class="row fontFamily">
  <div class="colmd-12 marginTop">
    <div class="col-md-12">
        <div class="col-md-12">
            <h2 class="" style= 'float:left;margin: 0;'><b>Publications:</b></h2>
        </div>
        <br/>
        <div class="col-md-12">
            <h3 class="" style= 'float:left;margin: 0;'>Biometric system || <a href = 'https://link.springer.com/chapter/10.1007/978-81-322-2734-2_1' target="_blank">SpringerLink</a></h3>
            <h4 class="tealColor" style= 'float:right;margin: 0;'><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2015 </h4>
        </div>
        
    </div>
    <br >
    <div class="col-md-12 ">
        <ul class="honors listFont justifyTag">
            <li>Boggaram, A. S., Mallampalli, P. R., <b>Muthyala, C. R. </b>, & Manjusha, R. (2016). A Novel Approach for Biometric Authentication System Using Ear, 2D Face and 3D Face Modalities, New Delhi.</li>  
        </ul>
    </div>

  </div>

  <div class="colmd-12 marginTop">
      <div class="col-md-12">
          <div class="col-md-12">
              <h2 class="" style= 'float:left;margin: 0;'><b>Certifications:</b></h2>
          </div>
          <br/>
          <div class="col-md-12">
              <h3 class="" style= 'float:left;margin: 0;'>Online Course Certifications</h3>
              <!-- <h4 class="tealColor" style= 'float:right;margin: 0;'><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2015 </h4> -->
          </div>
          
      </div>
      <br >
      <div class="col-md-12 ">
          <ul class=" listFont">
              <li><label style= 'font-weight:900;'>HTML5 Animated Image Gallery: </label>in Eduonix Learning Solutions Pvt Ltd.</li>
              <li><label style= 'font-weight:900;'>Python 3 Tutorial: </label>in SoloLearn, License 1073-2777149.</li>
              <li><label style= 'font-weight:900;'>Using Python to Access Web Data: </label>by University of Michigan (Grade Achieved: 97%).</li>
              <li><label style= 'font-weight:900;'>Using Databases with Python: </label>by University of Michigan (Grade Achieved: 98.9%).</li>
              <li><label style= 'font-weight:900;'>Python Data structures: </label>by University of Michigan (Grade Achieved: 100 %).</li>
              <li><label style= 'font-weight:900;'>Introduction to Data Sciences in python: </label>by University of Michigan (Grade Achieved: 90%).</li>
            </ul>
      </div>
  
    </div>
  
</div>
