<div class="row fontFamily">
  <div class="colmd-12 marginTop">
    <div class="col-md-12">
        <h3 class="" style= 'float:left;margin: 0;'><b>Full Stack Developer / Old Dominion University</b></h3>
        <h4 class="" style= 'float:right;margin: 0;'><i class="fa fa-calendar fa-fw w3-margin-right tealColor "></i><span class = 'tealColor '>Aug 2017 - </span>  <span class="bgTeal">Current</span> </h4>
    </div>
    <br >
    <div class="col-md-12 ">
        <ul class="honors listFont justifyTag">
            <li>Learning Management System(Blackboard): Collaborated with ODU Nursing School to develop a portal aimed at Advanced Practice Nurse for students to train within medically-underserved, rural areas in Virginia.Integration of Google Analytics, visualization charts aided faculty to analyse the performance of preceptors.This impacted two other schools to join the program and thus enhanced to Multi-Org LMS.</li>
            <li>Student Appointment System: Developing a friendly web interface to manage entire process involved in appointing a students as a Graduate assistant for computer science department and keep track of the appointment status.</li>
            <li>Agitation Detection: Working on detection of agitation in Dementia patients using various sensors values such as accelerometer, gyroscope, heart rate and decibel level obtained from off-the shelf-devices.Developed machine learning models to profile the patients, detect anger and alert the authorities immediately.</li>
            <li>Designed a visualization tool for the College of Business to analyze US employment data extracted from excel sheets.</li>
            
          </ul>
    </div>


    <div class="col-md-12">
      <h3 class="" style= 'float:left;margin: 0;'><b>R&D Engineer/ Synopsys Inc.</b></h3>
      <h4 class="" style= 'float:right;margin: 0;'><i class="fa fa-calendar fa-fw w3-margin-right tealColor "></i><span class = 'tealColor '>Sep 2015 - Jul 2017</span> </h4>
  </div>

  <div class="col-md-12 ">
      <ul class="honors listFont justifyTag">
          <li>Developed a single page web-application using RESTful web services, for managing and generating reports for interoperability test cases of Synopsys IP’s.Was involved in the complete development cycle involving planning, designing, development, testing, and deployment of these portals.</li>
          <li>In a team of 4, developed an automated system which can find the hardcoded paths associated with all Verification Group(VG) product binaries and libraries, with the nightly builds every day and make sure there are no hard coded dependencies with any of those file.</li>
          <li>Written test cases for ”Automated Testing to find hardcoded paths” and Test case to identify the newly added files and missing files associated with all binaries and libraries of VG products. Writing scripts for identifying Hard coded paths, Absolute paths from “MAKE FILES” using PYTHON language.</li>
          <li>Fixing the errors generated by GCC after removing the -Wno- switches from Make files.</li>
          
        </ul>
  </div>

  </div>
  
</div>